*~
tags
.DS_Store
build*
.nfs*
share/
__pycache__
*.swp
MANIFEST
dist/
.pydevproject
.project
.ropeproject
*.cproject
#include/
.tags*
*.pyc
#generator/C/
#generator/CPP11/include_v2.0
#generator/python/
#generator/message_definitions
#include/mavlink/v1.0
#pymavlink.egg-info/
